<%if @error%>
		<div class="alert alert-warning">
    		<%= render"shared/error"%>
		</div>
<%end%>
<%if  @student_status %>
	<%@student_status.each do |ss|%>
	  <blockquote>
	  <div class="row">
	  <div class="col-sm-4">
	    Student Name:-<%=Student.find_by_user_id(ss.user_id).student_name%>
		</div>
		<div class="col-sm-4">
		<%=link_to("Edit Deatils",:controller=>"students",:action=>"edit",:id =>Student.find_by_user_id(ss.user_id).id)%>
       	</div>
       </div>
		</blockquote>
	<%end%>
<%else%>
 	<h4>NO DATA AVAILABLE</h4>
<%end%>