<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>Various Courses</h4>
      <p>Our courses from basic to expert level are prepared by experts.Choose your course</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>CARE</h4>
      <p>Our assistance is to give parents satisfaction for care their childern</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>PREPERATION</h4>
      <p>We have centers at different locations to give you an environment for competition preperations </p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>STUDY MATERIAL</h4>
      <p>Worksheets, Regular test, books are provided by institution</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Goverened By UMA VIDYAPEETH EDUCATION SOCIETY</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>We Believe in work hard to achieve your goals "your success is our hard work reward.."</p>
    </div>
  </div>
</div>