
<blockquote class="blockquote">
              <h4>PROFILE:-</h4>
              EMAIL:-<%=@user.email%><br>
              EMAIL VERIFICATION:-<%=@user.email_verification%><br>
              USERS STATUS:-<%=@user.status%><br>
<footer>
  <h4>OPTIONS:-</h4>
</footer>
</blockquote>