
<form >
	<div class="form-group row">
    	<label class="control-label col-sm-2" >Book Name:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :book_id,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >Chapter Name:</label>
    	<div class="col-sm-4">
         	<%=f.text_field :title,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >Chapter content:</label>
    	<div class="col-sm-4">
         	<%=f.text_area :summary,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<label class="control-label col-sm-2" >Chapter Number:</label>
    	<div class="col-sm-4">
         	<%=f.number_field :chapter_number,:min => 1,:max=>20,class: "form-control"%>    		
    	</div>
    </div>
    <div class="form-group row">
    	<div class="col-sm-offset-2 col-sm-10">
 	    	<div class="btn-group ">
    			<button type="submit" class="btn btn-primary">Submit</button>
    			<button type="reset" class="btn btn-primary">Reset</button>
			    
			</div>
		</div>
	</div>
</form>