# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: e923ea2d83cc9f885afc1c48f372a34f99b8a2b780e02b0f83e5aca38f8d2b41b7431dba315a3572596e76bc240ef9f90b92f4fecafd42815d2d8dd0a626eaaa

test:
  secret_key_base: 1ee961575e4d377b4bed4d38fde15fa35fdfd9246091086a606e832da08fdd47d387e5ed2c83c1d8c7830fa87ca8d4c68e989f613b8cb44951ca72806a8990d3

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
